<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BRMultiController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8759C8031BC68EFD009EA43C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8759C81C1BC68EFD009EA43C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8759C8271BC68EFD009EA43C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
